/* ocultar o menu principal em dispositivos móveis */
nav ul {
  display: none;
}

/* exibir o menu hamburguer em dispositivos móveis */
.menu-toggle {
  display: block;
  position: absolute;
  right: 21px;
  top: 26px;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

/* criar as barras do menu hamburguer */
.menu-toggle .bar {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: black;
  border-radius: 2px;
  transition: transform 0.3s ease-out;
}

/* animação do menu hamburguer */
.menu-toggle.open .bar:first-child {
  transform: translateY(7px) translateX(7px) rotate(-45deg);
}

.menu-toggle.open .bar:nth-child(2) {
  transform: translateY(-3.5px) rotate(-90deg);
}

.menu-toggle.open .bar:last-child {
  transform: translateY(-7px) translateX(-7px) rotate(45deg);
}

/* exibir o menu principal ao clicar no menu hamburguer */
@media only screen and (max-width: 1000px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 0;
    background-color: white;
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
    text-align: right;
  }
  nav ul li {
    list-style: none;

    margin: 10px 0;
  }
  nav ul li a {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #1e1e1e;
  }
  .menu-toggle.open ~ nav ul {
    display: flex;
  }
  .open {
    padding-top: 0;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1200px) {
  .menu-toggle {
    display: none;
  }
  nav ul {
    display: flex;
  }
  ul li {
    display: flex;
    padding: 10px;
  }
  .hamburguer a {
    font-family: "Inter", sans-serif;
    text-decoration: none;

    border-radius: 10px;
    font-size: 0.9rem;
  }
  .hamburguer a:hover {
    transform: scale(1.05);
    font-weight:600;
  }
  .hamburguer{
    margin-left: 15px;
  }
}
@media only screen and (min-width: 1201px) {
  .menu-toggle {
    display: none;
  }
  nav ul {
    display: flex;
  }
 
  ul li {
    display: flex;
    padding: 10px 20px;
  }
  .hamburguer a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 0.96rem;
   
    border-radius: 10px;
  }
  .hamburguer a:hover {
    transform: scale(1.05);
    font-weight:600;
   
  }
  .hamburguer{
    margin-left: 15px;
  }
}